body {
    background: url('https://wallpaperaccess.com/full/17101.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 0;
}



